body {
    margin: 80px;
    font-family: "Kanit", sans-serif;
}

#borde {
    width: 50vw;  /* El div ocupará el 50% del ancho de la ventana del navegador */
    height: auto; /* Ajusta la altura automáticamente según el contenido */
    border: 4px solid black; /* Solo para visualizar el tamaño del div */
}

#linea {
    margin-top: 50px;
    border-color: black;
    border: 2px solid;
    width: 50%;
    margin-left: 20px;  /* Alinea la línea al margen izquierdo */
    margin-right: auto; /* Mantiene el resto del margen vacío */
}

.nombre {
    font-size: 40px;
    margin: 40px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cuerpo {
    margin: 40px;
}

.seccion {
    font-size: 30px;
    color: green;
}

.Titulo {
    font-size: 35px;
    margin: 40px;
    color: rgb(66, 143, 232);

}

.descripcion {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 40px;
    color: black;
}